<html>
<head>
  <title>Daily Planet</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></li>
  <link href="../../stylesheet.css" type="stylesheet"
</head>
<body>
  <h1>Welcome to the Daily Planet</h1>
  <h2>Your conservative news network</h2>
<ul>
    <a href="articles/new"><li>submit</li></a>
    <a href="articles/articles"><li>see all articles</li></a>
    <a href="articles/0"><li>latest article</li></a>
</ul>
</body>
</html>
