<html>
<head>
  <title></title>
</head>
<body>
  <h1 align="center">Submit an article</h1>
  <form action="/articles" method="post">
  <input type="input" name="title" placeholder="Put your Article Title Here"/>
  <input type="input" name="article" placeholder="put your article here"/>
  <input type="submit"/>
  </form>

</body>
</html>
